
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0px;
}

body {
  background: #1c0405;
  font-family: 'Montserrat', sans-serif;
  color: #7d7d7d;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 20px;
  color: #7d7d7d;
}

a,
.about-me-font {
  font-size: 30px;
  color: #7d7d7d;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover,
.about-me-font:hover {
  color: #b3b3b3;
  cursor: pointer;
  text-decoration: none;
}

.align-left {
  width: 50%;
  float: left;
}

.align-right {
  width: 50%;
  float: right;
  text-align: right;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px;
  width: 100%;
}

.row::after {
  width: 100%;
  content: "";
  clear: both;
  display: table;
  margin: 0px;
}

[class*="width-"] {
  float: left;
  width: 100%;
}

#root {
  height: 100%;
}

/* about me overlay */

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 10;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s ease-in-out;
}

.about-me-container {
  position: relative;
  top: 15%;
}

.carousel-container {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
}

.project-container {
  top: 900px;
}


/* particle background */

.particle-style {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.intro-style {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* carousel */

.carousel-indicators {
  z-index: 1;
}

.carousel-item {
  height: 600px;
}

.placeholder {
  opacity: 0;
  width: 100%;
  max-height: 700px;
}

.square-link {
  position: absolute;
  transform: translate(-50%, -80%);
  bottom: 10%;
  left: 50%;
  width: 50%;
  height: 30%;
  background: rgba(69, 69, 69, 0.7);
  z-index: 1;
  text-align: center;
}

.profile-img {
  max-height: 230px;
}


@media only screen and (min-width: 640px) {
  .width-1 { width: 8.33%; }
  .width-2 { width: 16.67%; }
  .width-3 { width: 25%; }
  .width-4 { width: 33.33%; }
  .width-5 { width: 41.67%; }
  .width-6 { width: 50%; }
  .width-7 { width: 58.33%; }
  .width-8 { width: 66.67%; }
  .width-9 { width: 75%; }
  .width-10 { width: 83.33%; }
  .width-11 { width: 91.67%; }
  .width-12 { width: 100%; }
}

