<p><i class="fa fa-github fa-lg fa-fw"></i> <a
    href="https://github.com/akeimach/" target="_blank">@akeimach</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a
    href="https://www.linkedin.com/in/akeimach" target="_blank">linkedin.com/in/akeimach</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://alyssakeimach.net/" target="_blank">alyssakeimach.net</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:alyssakeimach@gmail.com" target="_blank">alyssakeimach@gmail.com</a></p>
