* {
    box-sizing: border-box;
    /*outline: solid red 1px;*/
}

.container-fill {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    padding: 0px;
}

[class*="width-"] {
    float: left;
    width: 100%;
    padding: 0px;
}

p, a {
    font-family: 'Times',serif;
    font-size: 18px;
    line-height: 150%;
    color: #7d7d7d;
    text-decoration: none;
}

.text-about, a {
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: #7d7d7d;
    transition: 0.5s ease-in-out;
}

.text-about:hover, a:hover {
    cursor: pointer;
    color: #b3b3b3;
    text-decoration: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    transition: 0.5s ease-in-out;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
}

.carousel-indicators {
    z-index: 1;
}

.square-link {
    width: 50%;
    height: 20%;
    background: rgba(69, 69, 69, 0.7);
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.transparent-font {
    background-color: #fff;
    overflow: hidden;
    display: inline-block; 
    font-weight: bold;
    color: transparent;
    font-size: 80px;

}
span { 
    background: url("../images/bee_1.jpg") -99% -23% ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
}

@media only screen and (min-width: 640px) {
    .width-4 {
        width: 40%;
    }
    .width-8 {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .width-4 {    
        width: 33%;
        margin-left: 15px;
    }
    .width-8 {
        width: 60%;
    }
}

