
/*
    Heading: `font-family: 'Georgia', Times, Times New Roman, serif;`.
    All other fonts: `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`
    Teal color: `#4aaaa5`
    Regular font color (paragraphs and all text besides headings): `#777777`
    Main header background color: `#ffffff` (white)
    Main header border color: `#cccccc`
    Footer background color: `#666666`
    Main content background color: `#ffffff`
    Main content border color: `#dddddd`
The entire content area is `960px` wide.
The main section content is `650px` wide.
The sidebar is `270px` wide.*/




body {
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 18px;
    color: #777777; /* grey */
    background-image: url("../images/eight_horns.png");
}

header {
    position: absolute;
    padding: 0px;
    width: 100%;
    height: 90px;
    background: #ffffff; /* white */
    border-style: solid;
    border-bottom-color: #cccccc; /* lighter grey */
    border-bottom-width: 2px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0px;
    width: 100%;
    height: 100px;
    background: #666666; /* dark grey */
    border-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 6px;
}

section {
    padding: 0px;
    background: #ffffff; /* white */
    border-style: solid;
    border-color: #dddddd; /* light grey */
    border-width: 1px;
}

.navigation-bar h1 {
    display: inline-block;
    font-family: 'Georgia',Times,Times New Roman,serif;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff; /* white */
    background: #4aaaa5; /* teal */
    margin-left: 155px;
    height: 40px;
    padding: 20px;
    padding-top: 30px;
}

.navigation-bar ul {
    margin-right: 155px;
    margin-top: 40px;
    float: right;
}

.navigation-bar li {
    display: inline-block;
    float: left;
    border-right: solid 2px #dddddd; /* light grey */
}

.navigation-bar li:last-child { border: 0px; }

.navigation-bar a {
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 18px;
    color: #777777; /* grey */
    text-decoration: none;
    padding: 10px;
}





.footer-text {
    text-align: center;
    font-size: 14px;
    color: #eeeeee;
    margin: auto;
    padding-top: 40px;
}


.connect {
    width: 270px;
    margin-top: 120px;
    margin-left: 15px;
    float: left;

}

.content-main {
    width: 650px;
    margin-top: 120px;
    margin-left: 155px;
    float: left;
}
